/* Logo Menu */
.menu-button {
	margin: 0px;
	padding: 3px;
    border: 3px solid #f38ba8; border-radius: 50px;
    background-color: #f38ba8;
}

.menu-button-hover {
	margin: 0px;
	padding: 3px;
	border: 3px solid #f38ba8; border-radius: 50px;
	color: #cba6f7;
	background-color: #313244;
}
